@use "variaveis";

.contato {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0 5.6vw;

  @media (max-width: 768px) {
    display: block;
  }

  .side {
    padding: 3vw;
    border-radius: 10px;
    background-color: #13151d;

    &__icons {
      display: flex;
      align-items: center;
      padding-left: 30px;

      p {
        margin-bottom: 20px;
      }

      img {
        margin-right: 10px;
      }
    }

    @media (max-width: 768px) {
      margin-bottom: 36px;
    }

    ul {
      margin-top: 24px;
      color: #fff;

      img {
        width: 40px;
      }
    }

    p {
      color: white;
      margin-top: 24px;
    }
  }

  .container {
    max-width: 400px;
    margin: 0;
    margin-left: auto;
    padding: 20px;
    background-color: #13151d;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #13151d;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: variaveis.$corDeFundo;
      color: variaveis.$corTextoSecundaria;
    }

    textarea {
      height: 100px;
    }

    input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: variaveis.$corDeFundoBotaoSecundario;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }

    input[type="submit"]:hover {
      background-color: variaveis.$corDeFundoBotaoPrimario;
    }
  }
}
