@use "variaveis";

.hero {
  min-height: 80vh;
  text-align: center;
  background-size: cover;

  @media (max-width: 768px) {
    padding-top: calc(50vw + 25px);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -55px;
  }

  &__content {
    &__branding {
      max-width: 550px;
      margin: 0 auto;

      img {
        width: 450px;
        margin-bottom: 20px;
      }

      @media (max-width: 768px) {
        max-width: 180px;
      }
    }

    .title--small {
      margin-bottom: 24px;
    }
  }
}
